P.TableText0 {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal; }

P.BoxText {FONT-SIZE: 11pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PAGE-BREAK-AFTER: avoid;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  MARGIN: 3pt 0pt 3pt 36pt;  BORDER-LEFT: medium none;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt; }

SPAN.Heading3Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

P.Flowchart {FONT-SIZE: 11pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 3pt 0pt;  LINE-HEIGHT: 14pt; }

SPAN.Code-InlineChar {FONT-FAMILY: Consolas; }

P.Heading2noautolinks {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

P.BodyText1 {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 6pt 18pt;  LINE-HEIGHT: normal; }

P.instruction {FONT-SIZE: 10pt;  FONT-FAMILY: "Calibri","sans-serif";  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  tab-stops: 18.0pt; }

SPAN.Revision1 {COLOR: purple; }

SPAN.Revision2 {COLOR: purple; }

SPAN.TableHeaderText {FONT-FAMILY: "Calibri","sans-serif";  FONT-WEIGHT: bold;  COLOR: black; }

SPAN.Command {FONT-FAMILY: "Times New Roman","serif";  FONT-WEIGHT: bold; }

SPAN.uif-field {}

SPAN.command0 {}

P.c1hbullet0 {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt;  LINE-HEIGHT: normal; }

SPAN.Fieldname {FONT-WEIGHT: bold; }

SPAN.apple-converted-space {}

P.Issue {FONT-SIZE: 11pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: #c00000;  FONT-STYLE: italic;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.TextLevel1 {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN-LEFT: 14.4pt;  LINE-HEIGHT: normal;  MARGIN-RIGHT: 0pt; }

P.Code-Inline {FONT-SIZE: 9pt;  FONT-FAMILY: Consolas;  MARGIN: 6pt 0pt 6pt 126pt;  LINE-HEIGHT: 14pt; }

P.Heading4noautolinks {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt;  LINE-HEIGHT: normal; }

P.Heading3noautolinks {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

SPAN.MsoIntenseEmphasis {FONT-WEIGHT: bold;  COLOR: #4f81bd;  FONT-STYLE: italic; }

SPAN.regulartextbold1 {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: black; }

SPAN.search-highlight {}

SPAN.Heading4Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

SPAN.FieldName0 {FONT-FAMILY: "Arial Bold";  FONT-VARIANT: small-caps;  FONT-WEIGHT: bold; }

P.regulartextchar {FONT-SIZE: 10pt;  FONT-FAMILY: "Calibri","sans-serif";  COLOR: black;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.Default {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: black;  MARGIN: 0pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ; }

SPAN.C1HPopupTopicTextChar {FONT-FAMILY: "Tahoma","sans-serif"; }

SPAN.style1 {}

SPAN.ColoredLetter-Black {FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold; }

SPAN.Heading5Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

SPAN.Heading6Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

