/*
 * Kuali Coeus, a comprehensive research administration system for higher education.
 * 
 * Copyright 2005-2016 Kuali, Inc.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
div.awardHierarchyLink {
  text-align: left;
  list-style-type: none;
}
span.hierarchyOpenLink {
  float: right;
  margin-right: 5px;
  list-style: none;
  display: inline;
}
span.awardHierarchyLinkText {
  float: left;
}
a.awardHierarchy {
  margin-left:0px;
  width: 100%;
  display: block;
  text-align: left;
}
div.awardHierarchy {
  margin-top:0px;
  text-align: left;
  list-style: none;
  list-style-type: none;
  width: 100%;
}
.treeview ul.awardHierarchy {
  background-color:transparent;
  list-style: none;
  list-style-type: none;
}
.treeview ul.awardHierarchy li {
  list-style: none;
  list-style-type: none;
}
.treeview li, 
.treeview td, 
.treeview div, 
.treeview th, 
.treeview table, 
.treeview span {
  list-style: none;
  list-style-type: none;
}

#awardhierarchy td,
#awardhierarchy ul {
  background-color: transparent;
}

#awardhierarchy li.odd {
  background-color: #fff;
}
