/*
 * Kuali Coeus, a comprehensive research administration system for higher education.
 * 
 * Copyright 2005-2016 Kuali, Inc.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
  //  background:;
}

.uif-applicationHeader {
  width: 100%;
  background-color: #aa003e;
  z-index: 100;
}

.uif-applicationHeader .navbar {
  background-color: #aa003e;
  margin-bottom: 0px;
  border: none;
}

.uif-applicationHeader .navbar img {
  width: 200px;
  height: 69px;
  position: absolute;
  top: 0px;
  margin-left: -16px;
}

.uif-applicationHeader .navbar .nav li.active a {
  background: #9b0038;
}

.uif-applicationHeader .navbar .nav .dropdown-menu li ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.uif-applicationHeader .navbar .nav .dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #0055cc;
  white-space: nowrap;
}

.uif-applicationHeader .navbar .nav .dropdown-toggle {
  text-transform: uppercase;
}

.uif-applicationHeader .navbar .nav li {
  position: relative;
  z-index: 10;
}

.uif-applicationHeader .navbar .nav li a {
  //  text-transform:
}

.uif-applicationHeader .navbar a {
  color: #FFF;
}

.uif-applicationHeader .navbar a:hover {
  color: #FFF;
  background: #9b0038;
}

.uif-applicationHeader .navbar .nav .dropdown-menu li ul li a:hover,
.uif-applicationHeader .navbar .nav .dropdown-menu li ul li a:focus {
  text-decoration: none;
  color: #FFF;
  background-color: #aa003e;
}

.toolbar {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
}

.toolbar .dropdown a {
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
  color: #666;
  border-left: 1px solid #cccccc;
}

.toolbar .dropdown a .caret {
  border-bottom-color: #666;
  border-top-color: #666;
}

.navbar-nav > li a {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #777777;
  line-height: 20px;
}

.nav > li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar .dropdown-menu ul {
  width:600px;
  margin-right: -50px;
}
