<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="configProperties" />
	</bean>

	<bean id="config" class="org.kuali.rice.config.spring.ConfigFactoryBean">
		<property name="configLocations">
			<list>
				<value>classpath:META-INF/kra-config.xml</value>
			</list>
		</property>
	</bean>

	<bean id="configProperties" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="config" />
		<property name="targetMethod" value="getProperties" />
	</bean>

	<bean id="AtomikosTxMgr" class="com.atomikos.icatch.jta.UserTransactionManager" init-method="init" destroy-method="close">
		<property name="forceShutdown" value="true"/>
		<property name="transactionTimeout" value="300" />
	</bean>
	
	<bean id="AtomikosUsrTx" class="com.atomikos.icatch.jta.UserTransactionImp"/>
	
	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" lazy-init="true">
		<property name="userTransaction">
			<ref local="AtomikosUsrTx" />
		</property>
		<property name="transactionManager">
			<ref local="AtomikosTxMgr" />
		</property>
	</bean>
	 
	<bean id="dataSource" class="com.atomikos.jdbc.nonxa.NonXADataSourceBean">
		<property name="driverClassName" value="${datasource.driver.name}" />
		<property name="poolSize" value="${datasource.poolSize}" />
		<property name="connectionTimeout" value="${datasource.connectionTimeout}" />
		<property name="url" value="${datasource.url}" />
		<property name="user" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
	</bean>

  <bean id="dbPlatformFactory" class="org.kuali.core.dbplatform.ConfigurableKualiDBPlatformFactory">
    <property name="ojbPlatform" value="${datasource.ojb.platform}" />
    <property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="dbPlatform" factory-bean="dbPlatformFactory" factory-method="getPlatform" />
  
  <bean id="platformAwareDaoJdbc" abstract="true" class="org.kuali.core.dao.jdbc.PlatformAwareDaoBasejDBC">
    <property name="dataSource" ref="dataSource" />
    <property name="dbPlatform" ref="dbPlatform" />
  </bean>

  <bean id="platformAwareDao" abstract="true" class="org.kuali.core.dao.ojb.PlatformAwareDaoBaseOjb">
    <property name="jcdAlias" value="knsDataSource" />
    <property name="dbPlatform" ref="dbPlatform" />
  </bean>

	<bean id="kraRootResourceLoader" class="org.kuali.kra.rice.KraResourceLoader">
		<!-- Define service names that are overridable -->
		<property name="overridableServices">
			<set>
				<value>webAuthenticationService</value>
				<value>enWebAuthenticationService</value>
			</set>
		</property>
	</bean>	

	<bean id="rice" class="org.kuali.rice.config.RiceConfigurer">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="AtomikosTxMgr" />
		<property name="userTransaction" ref="AtomikosUsrTx" />
		<property name="rootConfig" ref="config" />
		<property name="rootResourceLoader" ref="kraRootResourceLoader" />
		<property name="messageEntity" value="KRA" />
		<property name="modules">
			<list>
				<bean class="edu.iu.uis.eden.messaging.config.KSBConfigurer">
					<property name="serviceServletUrl" value="${serviceServletUrl}" />
				</bean>
				<bean class="org.kuali.workflow.config.KEWConfigurer">
					<property name="clientProtocol" value="local" />
				</bean>
				<bean class="org.kuali.rice.kns.config.KNSConfigurer">
					<property name="dataDictionaryPackages">
						<list>
							<value>org/kuali/kra/datadictionary</value>
						</list>
					</property>
					<property name="databaseRepositoryFilePaths">
						<list>
							<value>repository.xml</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="businessObjectService" class="org.kuali.rice.kns.config.GlobalResourceLoaderServiceFactoryBean">
		<property name="serviceName" value="businessObjectService" />
	</bean>
	
	<bean id="documentService" class="org.kuali.rice.kns.config.GlobalResourceLoaderServiceFactoryBean">
		<property name="serviceName" value="documentService" />
	</bean>
	
	<bean id="routeHeaderService" class="org.kuali.rice.kns.config.GlobalResourceLoaderServiceFactoryBean">
		<property name="serviceName" value="enDocumentRouteHeaderService" />
	</bean>

	<bean id="keyValueFinderService" class="org.kuali.kra.lookup.keyvalue.KeyValueFinderServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="webAuthenticationService" class="org.kuali.core.service.impl.WebAuthenticationServiceCas">
		<property name="validatePassword" value="false" />
	</bean>
	<alias name="webAuthenticationService" alias="enWebAuthenticationService" />
	
	<!--  DWR -->
	<!--
	<bean id="kraModule" class="org.kuali.core.KualiModule">
	<property name="scriptConfigurationFilePaths">
	<list>
		<value>org/kuali/kra/dwr-kra.xml</value>
	</list>
	</property>
	</bean>
	-->

	<bean class="org.kuali.core.util.spring.NamedOrderedListBean">
		<property name="name" value="scriptConfigurationFilePaths" />
		<property name="listItem" value="classpath:org/kuali/kra/dwr-kra.xml" />
	</bean>

    <!--
	<bean class="org.kuali.core.web.servlet.DWRConfigFileConfigurer">
		<property name="configFile" value="org/kuali/kra/dwr-kra.xml" />
	</bean>
	-->
	<bean id="proposalDevelopmentService" class="org.kuali.kra.proposaldevelopment.service.impl.ProposalDevelopmentServiceImpl">
		<property name="businessObjectService" ref="businessObjectService" />
    <property name="userRoleService" ref="userRoleService" />
	</bean>

	<bean id="sponsorService" class="org.kuali.kra.service.impl.SponsorServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

    <bean id="userRoleService" class="org.kuali.kra.service.impl.UserRoleServiceImpl">
      <property name="userRoleDao">
        <ref bean="userRoleDao" />
      </property>
    </bean>

    <bean id="userRoleDao" parent="platformAwareDao" class="org.kuali.kra.dao.UserRoleDaoOjb"></bean>
	
	<bean id="narrativeAuthZService" class="org.kuali.kra.proposaldevelopment.service.impl.NarrativeAuthZServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="unitService" class="org.kuali.kra.service.impl.UnitServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="ynqService" class="org.kuali.kra.service.impl.YnqServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="proposalCopyService" class="org.kuali.kra.proposaldevelopment.service.impl.ProposalCopyServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="proposalPersonService" class="org.kuali.kra.proposaldevelopment.service.impl.ProposalPersonServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="narrativeService" class="org.kuali.kra.proposaldevelopment.service.impl.NarrativeServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="narrativeAuthZService">
			<ref bean="narrativeAuthZService" />
		</property>
		<property name="proposalPersonService">
			<ref bean="proposalPersonService" />
		</property>
	</bean>

	<bean id="keyPersonnelService" class="org.kuali.kra.proposaldevelopment.service.impl.KeyPersonnelServiceImpl">
		<property name="businessObjectService" ref="businessObjectService" />
    	<property name="ynqService">
        	<ref bean="ynqService" />
    	</property>
	</bean>
	<bean id="proposalPersonBiographyService" class="org.kuali.kra.proposaldevelopment.service.impl.ProposalPersonBiographyServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
		<bean id="documentValidationService" class="org.kuali.kra.service.impl.DocumentValidationServiceImpl">
	</bean>

	  <bean id="s2SService" class="org.kuali.kra.s2s.service.impl.S2SServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
 
 	<bean id="personService" class="org.kuali.kra.service.impl.PersonServiceImpl">
 		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
 	</bean>
 
	<bean id="kimPersonService" class="org.kuali.kra.kim.service.impl.PersonServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="kimRoleService" class="org.kuali.kra.kim.service.impl.RoleServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="kimQualifiedRoleService" class="org.kuali.kra.kim.service.impl.QualifiedRoleServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="systemAuthorizationService" class="org.kuali.kra.service.impl.SystemAuthorizationServiceImpl">
		<property name="kimPersonService">
			<ref bean="kimPersonService" />
		</property>
		<property name="kimRoleService">
			<ref bean="kimRoleService" />
		</property>
	</bean>

	<bean id="unitAuthorizationService" class="org.kuali.kra.service.impl.UnitAuthorizationServiceImpl">
		<property name="systemAuthorizationService">
			<ref bean="systemAuthorizationService" />
		</property>
		<property name="kimPersonService">
			<ref bean="kimPersonService" />
		</property>
		<property name="kimRoleService">
			<ref bean="kimRoleService" />
		</property>
		<property name="unitService">
			<ref bean="unitService" />
		</property>
	</bean>
	
	<bean id="proposalAuthorizationService" class="org.kuali.kra.proposaldevelopment.service.impl.ProposalAuthorizationServiceImpl">
		<property name="unitAuthorizationService">
			<ref bean="unitAuthorizationService" />
		</property>
		<property name="kimPersonService">
			<ref bean="kimPersonService" />
		</property>
		<property name="kimQualifiedRoleService">
			<ref bean="kimQualifiedRoleService" />
		</property>
	</bean>

	<bean id="researchDocumentService" class="org.kuali.kra.service.impl.ResearchDocumentServiceImpl">
		<property name="routeHeaderService">
			<ref bean="routeHeaderService"/>
		</property>
	</bean>
	
	<bean id="budgetService" class="org.kuali.kra.budget.service.impl.BudgetServiceImpl">
		<property name="documentService">
			<ref bean="documentService"/>
		</property>
	</bean>
	
</beans>