<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="configProperties" />
	</bean>

	<bean id="config" class="org.kuali.rice.config.spring.ConfigFactoryBean">
		<property name="configLocations">
			<list>
				<value>classpath:META-INF/kra-config.xml</value>
			</list>
		</property>
	</bean>

	<bean id="configProperties" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="config" />
		<property name="targetMethod" value="getProperties" />
	</bean>

	<bean id="jotm" class="org.springframework.transaction.jta.JotmFactoryBean" />

	<bean id="dataSource" class="org.kuali.rice.database.XAPoolDataSource">
		<property name="transactionManager" ref="jotm" />
		<property name="driverClassName" value="${datasource.driver.name}" />
		<property name="maxSize" value="${datasource.pool.maxSize}" />
		<property name="minSize" value="${datasource.pool.minSize}" />
		<property name="maxWait" value="${datasource.pool.maxWait}" />
		<property name="validationQuery" value="${datasource.pool.validationQuery}" />
		<property name="url" value="${datasource.url}" />
		<property name="username" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
	</bean>

	<bean id="rice" class="org.kuali.rice.config.RiceConfigurer">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="jotm" />
		<property name="userTransaction" ref="jotm" />
		<property name="rootConfig" ref="config" />
		<property name="messageEntity" value="KRA" />
		<property name="modules">
			<list>
				<bean class="edu.iu.uis.eden.messaging.config.KSBConfigurer">
					<property name="serviceServletUrl" value="${serviceServletUrl}" />
				</bean>
				<bean class="org.kuali.workflow.config.KEWConfigurer">
					<property name="clientProtocol" value="local" />
				</bean>
				<bean class="org.kuali.rice.kns.config.KNSConfigurer">
					<property name="dataDictionaryPackages">
						<list>
							<value>org/kuali/kra/datadictionary</value>
						</list>
					</property>
					<property name="databaseRepositoryFilePaths">
						<list>
							<value>repository.xml</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="businessObjectDao" class="org.kuali.rice.kns.config.GlobalResourceLoaderServiceFactoryBean">
		<property name="serviceName" value="businessObjectDao" />
	</bean>
	<bean id="keyValueFinderService" class="org.kuali.kra.proposaldevelopment.service.impl.KeyValueFinderServiceImpl">
		<property name="businessObjectDao">
			<ref bean="businessObjectDao" />
		</property>
	</bean>
	<!--  DWR -->
	<!--
	<bean id="kraModule" class="org.kuali.core.KualiModule">
	<property name="scriptConfigurationFilePaths">
	<list>
		<value>org/kuali/kra/dwr-kra.xml</value>
	</list>
	</property>
	</bean>
	-->


	<bean class="org.kuali.core.util.spring.NamedOrderedListBean">
		<property name="name" value="scriptConfigurationFilePaths" />
		<property name="listItem" value="classpath:org/kuali/kra/dwr-kra.xml" />
	</bean>

    <!--
	<bean class="org.kuali.core.web.servlet.DWRConfigFileConfigurer">
		<property name="configFile" value="org/kuali/kra/dwr-kra.xml" />
	</bean>
	-->
	<bean id="proposalDevelopmentService" class="org.kuali.kra.proposaldevelopment.service.impl.ProposalDevelopmentServiceImpl">
		<property name="businessObjectDao">
			<ref bean="businessObjectDao" />
		</property>
	</bean>
</beans>
