# rename this to liquibase.properties when testing
# substitute parameter values wherever necessary to point to the target schema for data import

# uncomment if using oracle
#driver=oracle.jdbc.OracleDriver
#url=jdbc:oracle:thin:@localhost:1521:XE
#username=kr2dev
#password=dev174kr
#drivers.directory=/java/drivers

driver=com.mysql.jdbc.Driver
url=jdbc:mysql://localhost:3306/krdev
username=krdev
password=dev174kr
drivers.directory=/java/drivers
drivers.file.pattern=ojdbc*.jar,mysql*.jar