/* .maindiv, .message, .error-message { border: 1px solid #333333; } */
.message, .error-message, .submitRow {
    text-align: center;
}
.headercell1, .empty_messageHeaderCell, .warning_messageHeaderCell, .error_messageHeaderCell {
    vertical-align: top;
}
.message {
    color: blue;
}
.submitRow {
    color: green;
}

/* have to do this to get centered div. */
/* http://www.allmyfaqs.com/faq.pl?Center_with_CSS */
.centeredTitle {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.maindiv {
    display: table;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #cccccc;
}

.warningMessage {
    color: #ff9933;
    font-weight: bold;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.emptyMessage {
    display: none;
}

.empty_messageDataCell, .warning_messageDataCell, .error_messageDataCell {
    font-weight: bold;
    padding: 1px 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
}

.empty_messageHeaderCell, .warning_messageHeaderCell, .error_messageHeaderCell {
    font-weight: bold;
    padding: 2px;
}

.empty_messageRow {
    display: none;
}

.warning_messageRow, .error_messageRow {
    display: table-row;
}

.empty_messageHeaderCell {
}

.empty_messageDataCell {
}

.warning_messageHeaderCell {
    color: #cc6600;
    background-color: #ff9933;
    border-top: 5px solid #996633;
    border-right: 5px solid #996633;
    border-bottom: 5px solid #996633;
    border-left: 5px solid #996633;
}

.warning_messageDataCell {
    color: #cc6600;
    border-top: 5px solid #996633;
    border-right: 5px solid #996633;
    border-bottom: 5px solid #996633;
    border-left: 5px solid #996633;
    /*
    border-bottom-color: #996633;
	  border-left-color: #996633;
	  border-top-color: #996633;
	  border-right-color: #996633;
    */
}

.error_messageHeaderCell {
    color: #990000;
    background-color: #ff6666;
    border-top: 5px solid #996666;
    border-right: 5px solid #996666;
    border-bottom: 5px solid #996666;
    border-left: 5px solid #996666;
}

.error_messageDataCell {
    color: 	#990000;
    border-top: 5px solid #996666;
    border-right: 5px solid #996666;
    border-bottom: 5px solid #996666;
    border-left: 5px solid #996666;

    /*border-bottom-color: #996666;
	  border-left-color: #996666;
	  border-top-color: #996666;
	  border-right-color: #996666;*/
}

.body {
    background-color:#FFFFFF;
    background-image:url(images/wf-watermark.gif);
    background-repeat:no-repeat;
    background-position:center; 
}


