/*
 * Kuali Coeus, a comprehensive research administration system for higher education.
 * 
 * Copyright 2005-2016 Kuali, Inc.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.ygtvtn{width:18px;height:22px;background:url(../../static/images/yui/treeview-sprite.gif) 0 -5600px no-repeat;}
.ygtvtm{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 -4000px no-repeat;}
.ygtvtmh{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 -4800px no-repeat;}
.ygtvtp{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 -6400px no-repeat;}
.ygtvtph{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 -7200px no-repeat;}
.ygtvln{width:18px;height:22px;background:url(../../static/images/yui/treeview-sprite.gif) 0 -1600px no-repeat;}
.ygtvlm{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 0px no-repeat;}
.ygtvlmh{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 -800px no-repeat;}
.ygtvlp{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 -2400px no-repeat;}
.ygtvlph{width:18px;height:22px;cursor:pointer;background:url(../../static/images/yui/treeview-sprite.gif) 0 -3200px no-repeat;}
.ygtvloading{width:18px;height:22px;background:url(../../static/images/yui/treeview-loading.gif) 0 0 no-repeat;}
.ygtvdepthcell{width:18px;height:22px;background:url(../../static/images/yui/treeview-sprite.gif) 0 -8000px no-repeat;}
.ygtvblankdepthcell{width:18px;height:22px;}
.ygtvitem{}.ygtvchildren{*zoom:1;}.ygtvlabel,.ygtvlabel:link,.ygtvlabel:visited,
.ygtvlabel:hover{margin-left:2px;text-decoration:none;background-color:white;}
.ygtvspacer{height:22px;width:12px;}
div.ygtvspacer{width:18px;height:22px;}
