/*
 * Kuali Coeus, a comprehensive research administration system for higher education.
 * 
 * Copyright 2005-2015 Kuali, Inc.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
﻿
body.itemlist	{ margin: 0px 2px 2px 2px; 
	                   background-color: #950000; 
	                   overflow:hidden;  }
div.itemlist { font-family:verdana; margin: 0px; padding: 0px; 
background-color: #EBEBEB; 
background-image: url(); 
background-repeat: no-repeat; 
overflow:auto; width:100%; height:100%; }
div.itemlistInside { margin: 4px; padding: 0px; }
body.lookup	{ margin: 2px 2px 0px 2px; 
	                   background-color: #950000; }
div.lookup	{ margin: 0px; padding: 0px; BORDER-BOTTOM: #000000 1px solid; background-color: #EBEBEB; 
background-image: url();
background-repeat: no-repeat;  
width:100%; }
a {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
.clsMouseOver {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  underline; color: Black; }
.clsCurrentTocItem {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: bold; text-decoration:  none; color: Black; }
div.clsSearchResultItem { margin: 1px;}
form.clsSearchFor { margin:0px; padding:0px; font-size: 11px; }
table.clsSearchFor { font-family: verdana; font-size: 11px; }
form.clsFrmHidden { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; height:0px; display: none; visibility: hidden;}
div.clsSearchDidYouMean { margin:0px; padding:0px; font-family: verdana; font-size: 12px; font-weight: bold; }
