<config>
	<!-- KC Client DB -->
	<param name="datasource.url">jdbc:oracle:thin:@127.0.0.1:XE</param>
	<param name="datasource.username">KCUNIT</param>
	<param name="datasource.password">untpass</param>
	<param name="datasource.ojb.platform">Oracle9i</param>
	
	<!--
	<param name="datasource.url">jdbc:mysql://localhost:3306/KCUNIT</param>
	<param name="datasource.username">KCUNIT</param>
	<param name="datasource.password">untpass</param>
	<param name="datasource.ojb.platform">MySQL</param>
	-->
</config>
