<config>
	<!-- App specific parameters -->
	<param name="app.code">kra</param>
	<param name="kns.test.port">9925</param>
	<param name="app.host">http://localhost:${kns.test.port}</param>
	<param name="app.context.name">${app.code}-${environment}</param>
	<param name="production.environment.code">PRD</param>
	<param name="externalizable.help.url">/${app.context.name}/kr/static/help/</param>
	<param name="externalizable.images.url">/${app.context.name}/kr/static/images/</param>
	<param name="kr.externalizable.images.url">/${app.context.name}/kr/static/images/</param>
	<param name="kra.externalizable.images.url">/${app.context.name}/static/images/</param>

	<param name="javascript.files">scripts/kuali_application.js,kr/scripts/core.js,kr/scripts/dhtml.js,kr/scripts/my_common.js,kr/scripts/jscalendar-1.0/calendar.js,kr/scripts/jscalendar-1.0/lang/calendar-en.js,kr/scripts/jscalendar-1.0/calendar-setup.js,dwr/engine.js,dwr/util.js,dwr/interface/UserService.js,kr/scripts/objectInfo.js</param>
    <param name="css.files">css/kuali_application.css,kr/css/kuali.css,kr/scripts/jscalendar-1.0/calendar-win2k-1.css</param>

	<param name="kr.url">/${app.context.name}/kr</param>
	<param name="use.clearDatabaseLifecycle">true</param>
	<param name="use.kewXmlmlDataLoaderLifecycle">true</param>
	<param name="use.sqlDataLoaderLifecycle">true</param>
	<param name="use.kraKewXmlDataLoaderLifecycle">true</param>
	<param name="use.kraSqlDataLoaderLifecycle">true</param>
	<param name="test.mode">true</param>
	<param name="ken.test.mode">true</param>
    <param name="attachments.pending.directory">${java.io.tmpdir}</param>
    <param name="attachments.directory">${java.io.tmpdir}</param>
    <param name="kuali.docHandler.url.prefix">${app.host}/${app.context.name}</param>

	<!-- Misc params -->
	<param name="institution">iu</param>
	<param name="version">03/19/2007 01:59 PM</param>
	<param name="security.directory">/usr/local/rice/</param>
	<param name="settings.directory">/usr/local/rice/</param>

	<param name="transaction.timeout">3600</param>
	<param name="memory.monitor.threshold">.85</param>
	<param name="production.environment.code">prd</param>
	<param name="maintain.users.locally">true</param>

	<param name="log4j.reload.minutes">5</param>
	<param name="log4j.settings.path">classpath:log4j.properties</param>

    <param name="workflow.url">http://localhost:${kns.test.port}/${app.context.name}/en</param>
    <param name="application.url">http://localhost:${kns.test.port}/${app.context.name}</param>
    <param name="serviceServletUrl">http://localhost:${kns.test.port}/${app.context.name}/remoting/</param>

    <param name="app.host">http://localhost:${kns.test.port}</param>
    <param name="kuali.docHandler.url.prefix">${app.host}/${app.context.name}</param>

	<param name="datasource.url">jdbc:oracle:thin:@esdb12-k.uits.indiana.edu:1521:KUALI</param>
	<param name="datasource.username">KRAUNT</param>
	<param name="datasource.ojb.platform">Oracle9i</param>
	<param name="datasource.platform">edu.iu.uis.eden.database.platform.OraclePlatform</param>
	<param name="datasource.driver.name">oracle.jdbc.driver.OracleDriver</param>
	<param name="datasource.pool.validationQuery">select 1 from dual</param>
	<param name="datasource.pool.maxWait">30000</param>
	<param name="datasource.pool.minSize">0</param>
	<param name="datasource.pool.maxSize">50</param>
	<param name="datasource.password">ask your team</param>

	<param name="keystore.alias">onestartsharedservices-devandtst</param>
	<param name="keystore.location">/opt/sa_forms/java/dev/edu/iu/uis/security/en/onestartsharedservices-devandtst_keystore</param>
	<param name="keystore.password">s1t0spss!xX-tst</param>

	<param name="dev.mode">true</param>
	<param name="message.persistence">true</param>
	<param name="message.delivery">synchronous</param>

    <param name="edl.config.loc">classpath:META-INF/EDLConfig.xml</param>

	<!-- XML ingester directories -->
	<param name="data.xml.root.location">/opt/ears/${environment}/en/xml</param>
	<param name="data.xml.pending.location">${data.xml.root.location}pending</param>
	<param name="data.xml.loaded.location">${data.xml.root.location}loaded</param>
	<param name="data.xml.problem.location">${data.xml.root.location}problem</param>
	<param name="attachment.dir.location">/opt/ears/</param>
	<param name="data.xml.pollIntervalSecs">30</param>
	<param name="initialDelaySecs">10</param>
	<param name="workgroup.url">Workgroup.do</param>
	<param name="workgroup.report.url">Workgroup.do</param>
	<param name="user.url">WorkflowUser.do</param>
	<param name="user.report.url">WorkflowUserReport.do</param>

	<!-- Kuali parameters -->
	<param name="mail.relay.server">mail.relay.server</param>
	<param name="mailing.list.batch">mailing.list.batch</param>
	<param name="encryption.key">7IC64w6ksLU</param>
	<param name="keystore.alias">kul</param>
	<param name="keystore.password">kulpass</param>
	<param name="kfsLocator.useAppContext">true</param>
	<param name="production.environment.code">prd</param>
    <param name="rice.user">true</param>
    <param name="actionlist.outbox">true</param>
    <param name="ActionList.norefresh">true</param>

	<!-- Ken stuffs... -->
    <!-- stock notification system configuration properties -->

    <!-- Quartz Jobs (MS = Milli Seconds) -->
    <param name="notification.resolveMessageDeliveriesJob.startDelayMS">5000</param>
    <param name="notification.resolveMessageDeliveriesJob.intervalMS">10000</param>

    <param name="notification.processUndeliveredJob.startDelayMS">10000</param>
    <param name="notification.processUndeliveredJob.intervalMS">10000</param>

    <param name="notification.processAutoRemovalJob.startDelayMS">60000</param>
    <param name="notification.processAutoRemovalJob.intervalMS">60000</param>

    <param name="notification.quartz.autostartup">false</param>
    <param name="notification.concurrent.jobs">true</param>

    <param name="notification.basewebappurl">http://localhost:9912/${app.context.name}/ken</param>

    <param name="notification.ojb.platform">Oracle</param>

    <!-- Email Plugin Properties -->
    <param name="emailDeliverer.smtp.host">no_such_smtp_host</param>

    <!-- Turn off KEW use of quartz db to avoid db clear issues -->
    <param name="useQuartzDatabase">false</param>

    <!-- Register the CAS Kerberos Filter -->
	<param name="filter.cas.class">org.kuali.core.web.filter.KualiCasFilter</param>
    <param name="filter.cas.edu.yale.its.tp.cas.client.filter.loginUrl">${app.host}/${app.context.name}/cas/login</param>
    <param name="filter.cas.edu.yale.its.tp.cas.client.filter.validateUrl">${app.host}/${app.context.name}/cas/serviceValidate</param>
	<param name="filtermapping.cas.0">/*</param>
</config>

