select.fixed-size-select {
width:160px;
}

select.fixed-size-200-select {
width:200px;
}
select.fixed-size-300-select {
width:300px;
}
div.innerTab-head{
	background-color:#939393;
	border-bottom:1px solid #B2B2B2;
	border-left:0px solid #999999;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 100%;
	height:18px;
	padding-left:10px;
	text-align:left;
}
div.innerTab-container{	
	background-color: #e4e4e4;
	border-left-width: 0px;
	background-image: url("../images/tab-sideright1.gif");
	background-repeat: repeat-y;
}

div.same-line{
	float: left; 
	text-align: left;
} 

input.align-right {
	text-align: right;
	
}

.headerarea-kra
{
	background-color: #e4e4e4;
	padding-bottom: 0px;
	padding-left: 10px;
	height: 55px;
	padding-right: 0px;
	background-image: url("../images/masthead1.gif");
	margin: 0px;
}




.horz-links-bkgrnd
{
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	height: 19px;
	background-color: #D8D8D8;
	padding-top: 12px;
	margin-bottom: 20px;
}

#horz-links input
{
	height: 19px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(https://test.kuali.org/mocks/images/th-back1.gif);
	background-position: bottom;
	vertical-align: text-top;
}

#horz-links input:hover
 {
	color: #FFFFFF;
	
}

#horz-links input.selected
{
	color: #FFFFFF;
	background-image: url(https://test.kuali.org/mocks/images/navhover.gif);
	background-position: top;
}





#tabs {
	position:relative;
	height:20px;
	z-index:10;
	white-space: nowrap;
}
#tabs dl {
	margin:0px 0px 0px 10px;
	padding:0px;
	list-style:none;
	height:20px;
	white-space: nowrap;
}
#tabs dt {
	float:left;
	background:url(https://test.kuali.org/mocks/images/tab-top-left-gray.gif) no-repeat left top;
	padding:0px 0px 0px 5px;
	border-bottom:1px solid #C0C0C0;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#tabs dt.licurrent {
	background:url(https://test.kuali.org/mocks/images/tab-top-left.gif) no-repeat left top;
	border-bottom:#fff 1px solid;
}
#tabs .tabright {
	float:left;
	display:block;
	background:url(https://test.kuali.org/mocks/images/tab-top-right-gray.gif) no-repeat right top;
	position:relative;
	width:auto;
}
#tabs .tabcurrent {
	background:url(https://test.kuali.org/mocks/images/tab-top-right.gif) no-repeat right top;
}
#tabs input {
	background:none;
	border:none;
	cursor:pointer;
	width:auto;
	padding:2px 9px 3px 0px;
	font-weight:bold;
	margin-bottom:-1px;
	height:20px;
}
#tabs input:hover {
	color:#990000;
	font-weight: bold;
}
#tabs > dl .tabright {
	width:auto;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs .tabright {
	float:none;
}
/* End IE5-Mac hack */
