#approver_wrapper{
   width: 900px;
   margin: 0px;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 13px;
   border:1px solid #ccc;
}
#approver_top {
   height: relative;
}
#approver_top #text_container {
   height: relative;
   width:620px;
   height:65px;
   margin:0;
   text-align:left;
}
#approver_top #buttons_container {
   width:315px;
   height:40px;
   margin:20px 0px 20px 0px;
}
#approver_top #buttons_container #approve{
    width:125px;
    height:40px;
    float:left;
    margin:0 40px 0 0;
}
#approve span { 
	display: block; 
	margin: 0px 0px 0px 0px;
}
#approve a { 
	width: 100%;
	height: 100%; 
	display: block; 
	overflow: hidden; 
	background: url('approver_buttons.png') 0px 0px no-repeat;
}
#approve a:hover { 	
	background: url('approver_buttons.png') 0px -48px  no-repeat;
}
#approve a:active { 	
	background: url('approver_buttons.png') 0px -45px  no-repeat;
}
#approver_top #buttons_container #disapprove{
    width:150px;
    height:40px;  
    float:left;
    margin:0;
}
#disapprove a { 
	width: 100%;
	height: 100%; 
	display: block; 
	overflow: hidden; 
	background: url('approver_buttons.png') -147px 0px no-repeat;
}
#disapprove a:hover { 	
	background: url('approver_buttons.png') -147px -48px  no-repeat;	
}
#disapprove a:active { 	
	background: url('approver_buttons.png') -147px -45px  no-repeat;	
}
#disapprove span { 
	display: block; 
	margin: 0px 0px 0px 0px;
}
#text_container p {
	font-size:.9em;
}	
#approver_table_container {
    width:890px;
    background-color:#fff;
    padding:0 0 0px 0;
    margin:0 0 0 5px;
    float:left;
}
#approver_table_container #left {
    padding:10px 4px 0 0px;
    width: 440px;
    float:left;
}
#approver_table_container #right {
    padding:10px 0 0 0;
    width: 440px;
    float:left;
}
#approver_table_container table{
	width:440px;
    border-collapse:collapse;
}
#approver_table_container table .even{
	background-color:#faf4f6;
}
#approver_table_container table .even_right_data{
	background-color:#faf4f6;
	width:100px;
    text-align:right;
}
#approver_table_container table .hr{
	border-top:1px solid #ccc;
}
#approver_table_container th {
    width:140px;
    font-size:13px;
    font-weight:bold;
    color: #000;
    vertical-align:baseline;
    text-align:right;
    background: #EAEAEA;
}
#approver_table_container td {
    vertical-align:baseline;
    font-size:13px;
    text-align:left;
}
#approver_table_container .right_data {
    width:100px;
    text-align:right;
}
#approver_table_container table .name_data_even{
	width:120px;
	text-align:left;
	background-color:#faf4f6;
}
#approver_table_container .name_data {
    width:120px;
    text-align:left;
}
#approver_bottom {
    height: 30px;
    clear: both;
}
