P.TableText0 {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal; }

P.BoxText {FONT-SIZE: 11pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PAGE-BREAK-AFTER: avoid;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  MARGIN: 3pt 0pt 3pt 36pt;  BORDER-LEFT: medium none;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt; }

P {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

P.Task1 {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 12pt 0pt 0pt 21.6pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -21.6pt;  tab-stops: 21.6pt; }

SPAN.StyleFieldname {FONT-WEIGHT: bold; }

P.Flowchart {FONT-SIZE: 11pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 3pt 0pt;  LINE-HEIGHT: 14pt; }

SPAN.Code-InlineChar {FONT-FAMILY: Consolas; }

P.Task2 {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 12pt 0pt 0pt 39.6pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: list 39.6pt left 43.2pt; }

P.Directive {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 12pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

P.Heading2noautolinks {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

P.BodyText1 {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 6pt 18pt;  LINE-HEIGHT: normal; }

SPAN.StyleMenuSelectionItalic {FONT-WEIGHT: bold; }

P.instruction {FONT-SIZE: 10pt;  FONT-FAMILY: "Calibri","sans-serif";  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  tab-stops: 18.0pt; }

P.Actor {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana","sans-serif";  BACKGROUND: #cccccc;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  TEXT-ALIGN: center;  MARGIN: 12pt 0pt 0pt; }

SPAN.Revision1 {COLOR: purple; }

SPAN.Revision2 {COLOR: purple; }

P.Illustration {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-ALIGN: center;  MARGIN: 12pt 0pt;  LINE-HEIGHT: 14pt; }

SPAN.TableHeaderText {FONT-FAMILY: "Calibri","sans-serif";  FONT-WEIGHT: bold;  COLOR: black; }

SPAN.Command {FONT-FAMILY: "Times New Roman","serif";  FONT-WEIGHT: bold; }

SPAN.uif-field {}

SPAN.command0 {}

P.c1hbullet0 {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt;  LINE-HEIGHT: normal; }

SPAN.Fieldname {FONT-WEIGHT: bold; }

SPAN.StyleButtonnameNotBoldItalic {FONT-WEIGHT: bold; }

P.TextLevel1 {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN-LEFT: 14.4pt;  LINE-HEIGHT: normal;  MARGIN-RIGHT: 0pt; }

P.Code-Inline {FONT-SIZE: 9pt;  FONT-FAMILY: Consolas;  MARGIN: 6pt 0pt 6pt 126pt;  LINE-HEIGHT: 14pt; }

P.Heading4noautolinks {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt;  LINE-HEIGHT: normal; }

P.Heading3noautolinks {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

SPAN.MsoIntenseEmphasis {FONT-WEIGHT: bold;  COLOR: #4f81bd;  FONT-STYLE: italic; }

SPAN.regulartextbold1 {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: black; }

SPAN.search-highlight {}

SPAN.Heading4Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

SPAN.StyleScreenname {FONT-VARIANT: small-caps;  VERTICAL-ALIGN: baseline;  TEXT-DECORATION: none;  text-line-through: none; }

P.regulartextchar {FONT-SIZE: 10pt;  FONT-FAMILY: "Calibri","sans-serif";  COLOR: black;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.Default {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: black;  MARGIN: 0pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ; }

SPAN.C1HPopupTopicTextChar {FONT-FAMILY: "Tahoma","sans-serif"; }

SPAN.style1 {}

SPAN.ColoredLetter-Black {FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold; }

SPAN.Heading5Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.kc {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt;  LINE-HEIGHT: 14pt; }

SPAN.Heading6Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

