SPAN.TableTextChar {FONT-FAMILY: "Verdana","sans-serif"; }

P.c1hbullet0 {FONT-SIZE: 10pt;  MARGIN: 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Times New Roman","serif"; }

SPAN.TableBodyKC2-0Char {FONT-FAMILY: "Arial","sans-serif"; }

P.Heading1andonehalf {FONT-WEIGHT: bold;  FONT-SIZE: 24pt;  MARGIN: 24pt 0pt 12pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Arial","sans-serif"; }

P.Directive {FONT-WEIGHT: bold;  FONT-SIZE: 10pt;  MARGIN: 12pt 0pt 0pt;  LINE-HEIGHT: 14pt;  FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.search-highlight {}

SPAN.CaptionFigureText {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.TableHeadKC2-0 {FONT-WEIGHT: bold;  FONT-SIZE: 10pt;  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.Command {FONT-WEIGHT: bold;  FONT-FAMILY: "Times New Roman","serif"; }

P.KCTableText {FONT-SIZE: 12pt;  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.BodyText2Char1 {FONT-FAMILY: "Arial","sans-serif"; }

P.Task1 {FONT-SIZE: 10pt;  MARGIN: 12pt 0pt 0pt 21.6pt;  TEXT-INDENT: -21.6pt;  LINE-HEIGHT: 14pt;  FONT-FAMILY: "Verdana","sans-serif";  tab-stops: 21.6pt; }

P.3Columns {FONT-SIZE: 10pt;  MARGIN: 5pt 0pt 6pt 36pt;  TEXT-INDENT: -18pt;  LINE-HEIGHT: 14pt;  FONT-FAMILY: "Verdana","sans-serif";  tab-stops: list 0pt; }

SPAN.Heading3Char {FONT-WEIGHT: bold;  FONT-FAMILY: "Verdana","sans-serif"; }

P.Task2 {FONT-SIZE: 10pt;  MARGIN: 12pt 0pt 0pt 39.6pt;  TEXT-INDENT: -18pt;  LINE-HEIGHT: 14pt;  FONT-FAMILY: "Verdana","sans-serif";  tab-stops: list 39.6pt left 43.2pt; }

SPAN.d2hhlt {FONT-FAMILY: "Times New Roman","serif"; }

P.TableText0 {FONT-SIZE: 10pt;  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

P.TableNormal {FONT-SIZE: 9pt;  MARGIN: 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

P.KCTableHead {FONT-WEIGHT: bold;  FONT-SIZE: 10pt;  MARGIN: 3pt 0pt 0pt 3.6pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.Heading4Char {FONT-WEIGHT: bold;  FONT-FAMILY: "Verdana","sans-serif"; }

P.tableKChead {FONT-WEIGHT: bold;  FONT-SIZE: 10pt;  MARGIN: 3pt 0pt 0pt 3.6pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

P.tableKCbody {FONT-SIZE: 12pt;  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

P {FONT-SIZE: 10pt;  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt;  FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.IssueChar {COLOR: #c00000;  FONT-STYLE: italic; }

SPAN.KCTableTextChar {FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.ColoredLetter-Black {FONT-WEIGHT: bold;  FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.Actor {FONT-WEIGHT: bold;  FONT-SIZE: 16pt;  BACKGROUND: #cccccc;  MARGIN: 12pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-ALIGN: center; }

P.TableHeader {FONT-WEIGHT: bold;  FONT-SIZE: 10pt;  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

P.BodyText1 {FONT-SIZE: 9pt;  MARGIN: 0pt 0pt 6pt 18pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Times New Roman","serif"; }

SPAN.D2HMarkerNumber {DISPLAY: none; }

P.TableBodyKC2-0 {FONT-SIZE: 10pt;  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Verdana","sans-serif"; }

P.H2-TOP {FONT-SIZE: 11pt;  MARGIN: 18pt 0pt 0pt;  LINE-HEIGHT: normal;  FONT-FAMILY: "Arial","sans-serif";  FONT-VARIANT: small-caps; }

