<?xml version="1.0" encoding="UTF-8"?>
<persistence 
    version="1.0" 
    xmlns="http://java.sun.com/xml/ns/persistence" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  
  <persistence-unit name="kcra" transaction-type="JTA">
    <mapping-file>META-INF/kc-orm.xml</mapping-file>
    <class>org.kuali.kra.proposaldevelopment.document.ProposalDevelopmentDocument</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalColumnsToAlter</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalChangedData</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalOverview</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalBudgetStatus</class>
    <class>org.kuali.kra.bo.DocumentNextvalue</class>
    <class>org.kuali.kra.proposaldevelopment.bo.PropScienceKeyword</class>
    <class>org.kuali.kra.bo.NsfCode</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ActivityType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.BudgetStatus</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalResponse</class>
    <class>org.kuali.kra.bo.PersonDegree</class>
    <class>org.kuali.kra.bo.DegreeType</class>
    <class>org.kuali.kra.bo.Country</class>
    <class>org.kuali.kra.bo.PersonEditableField</class>
    <class>org.kuali.kra.bo.Person</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPerson</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalInvestigatorCertification</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPersonRole</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPersonDegree</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPersonUnit</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPersonCreditSplit</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalUnitCreditSplit</class>
    <class>org.kuali.kra.proposaldevelopment.bo.InvestigatorCreditType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.MailBy</class>
    <class>org.kuali.kra.bo.NoticeOfOpportunity</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ScienceKeyword</class>
    <class>org.kuali.kra.bo.State</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalState</class>
    <class>org.kuali.kra.proposaldevelopment.bo.AbstractType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.NarrativeType</class>
    <class>org.kuali.kra.bo.PropPerDocType</class>
    <class>org.kuali.kra.bo.S2sRevisionType</class>
    <class>org.kuali.kra.s2s.bo.S2sSubmissionType</class>
    <class>org.kuali.kra.bo.SpecialReview</class>
    <class>org.kuali.kra.bo.SpecialReviewApprovalType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.DeadlineType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.MailType</class>
    <class>org.kuali.kra.bo.SponsorType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.PostSubmissionStatus</class>
    <class>org.kuali.kra.bo.Rolodex</class>
    <class>org.kuali.kra.bo.NonOrganizationalRolodex</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalSite</class>
    <class>org.kuali.kra.bo.Organization</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPersonYnq</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalYnq</class>
    <class>org.kuali.kra.bo.Ynq</class>
    <class>org.kuali.kra.bo.YnqExplanation</class>
    <class>org.kuali.kra.bo.YnqExplanationType</class>
    <class>org.kuali.kra.bo.Sponsor</class>
    <class>org.kuali.kra.bo.SponsorHierarchy</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalSpecialReview</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalAbstract</class>
    <class>org.kuali.kra.bo.ValidSpecialReviewApproval</class>
    <class>org.kuali.kra.bo.Unit</class>
    <class>org.kuali.kra.bo.UnitAdministrator</class>
    <class>org.kuali.kra.bo.UnitAdministratorType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.Narrative</class>
    <class>org.kuali.kra.proposaldevelopment.bo.NarrativeAttachment</class>
    <class>org.kuali.kra.proposaldevelopment.bo.NarrativeUserRights</class>
    <class>org.kuali.kra.proposaldevelopment.bo.NarrativeStatus</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPersonBiographyAttachment</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalPersonBiography</class>
    <class>org.kuali.kra.budget.document.BudgetDocument</class>
    <class>org.kuali.kra.budget.bo.BudgetVersionOverview</class>
    <class>org.kuali.kra.s2s.bo.S2sOpportunity</class>
    <class>org.kuali.kra.s2s.bo.S2sAppSubmission</class>
    <class>org.kuali.kra.s2s.bo.S2sOppForms</class>
    <class>org.kuali.kra.s2s.bo.S2sApplication</class>
    <class>org.kuali.kra.s2s.bo.S2sAppAttachments</class>
    <class>org.kuali.kra.budget.bo.BudgetSubAwards</class>
    <class>org.kuali.kra.budget.bo.BudgetSubAwardFiles</class>
    <class>org.kuali.kra.budget.bo.BudgetSubAwardAttachment</class>
    <class>org.kuali.kra.budget.bo.BudgetCategory</class>
    <class>org.kuali.kra.budget.bo.BudgetCategoryType</class>
    <class>org.kuali.kra.budget.bo.BudgetCategoryMap</class>
    <class>org.kuali.kra.budget.bo.BudgetCategoryMapping</class>
    <class>org.kuali.kra.budget.bo.BudgetLineItemCalculatedAmount</class>
    <class>org.kuali.kra.budget.bo.BudgetLineItem</class>
    <class>org.kuali.kra.budget.bo.BudgetPeriod</class>
    <class>org.kuali.kra.budget.bo.BudgetCostShare</class>
    <class>org.kuali.kra.budget.bo.BudgetProjectIncome</class>
    <class>org.kuali.kra.budget.bo.BudgetUnrecoveredFandA</class>
    <class>org.kuali.kra.budget.bo.BudgetPersonnelCalculatedAmount</class>
    <class>org.kuali.kra.budget.bo.BudgetPerson</class>
    <class>org.kuali.kra.budget.bo.TbnPerson</class>
    <class>org.kuali.kra.budget.bo.BudgetRateAndBase</class>
    <class>org.kuali.kra.budget.bo.BudgetPersonnelRateAndBase</class>
    <class>org.kuali.kra.budget.bo.CostElement</class>
    <class>org.kuali.kra.budget.bo.BudgetProposalRate</class>
    <class>org.kuali.kra.bo.InstituteLaRate</class>
    <class>org.kuali.kra.bo.InstituteRate</class>
    <class>org.kuali.kra.budget.bo.JobCode</class>
    <class>org.kuali.kra.budget.bo.RateClass</class>
    <class>org.kuali.kra.budget.bo.RateClassType</class>
    <class>org.kuali.kra.budget.bo.RateType</class>
    <class>org.kuali.kra.budget.bo.ValidCalcType</class>
    <class>org.kuali.kra.budget.bo.ValidCeJobCode</class>
    <class>org.kuali.kra.budget.bo.ValidCeRateType</class>
    <class>org.kuali.kra.budget.bo.BudgetProposalLaRate</class>
    <class>org.kuali.kra.budget.bo.BudgetPersonnelDetails</class>
    <class>org.kuali.kra.budget.bo.BudgetModular</class>
    <class>org.kuali.kra.budget.bo.BudgetModularIdc</class>
    <class>org.kuali.kra.budget.bo.AppointmentType</class>
    <class>org.kuali.kra.budget.bo.BudgetPeriodType</class>
    <class>org.kuali.kra.kim.bo.KimPerson</class>
    <class>org.kuali.kra.kim.bo.KimGroup</class>
    <class>org.kuali.kra.kim.bo.KimPermission</class>
    <class>org.kuali.kra.kim.bo.KimRole</class>
    <class>org.kuali.kra.kim.bo.KimRoleType</class>
    <class>org.kuali.kra.kim.bo.KimNamespace</class>
    <class>org.kuali.kra.kim.bo.AttributeType</class>
    <class>org.kuali.kra.kim.bo.KimPersonAttribute</class>
    <class>org.kuali.kra.kim.bo.KimGroupAttribute</class>
    <class>org.kuali.kra.kim.bo.KimNamespaceDefaultAttribute</class>
    <class>org.kuali.kra.kim.bo.KimRoleAttribute</class>
    <class>org.kuali.kra.kim.bo.KimPersonQualifiedRoleAttribute</class>
    <class>org.kuali.kra.kim.bo.KimGroupQualifiedRoleAttribute</class>
    <class>org.kuali.kra.kim.bo.KimRolePermission</class>
    <class>org.kuali.kra.kim.bo.KimRolePerson</class>
    <class>org.kuali.kra.kim.bo.KimRoleGroup</class>
    <class>org.kuali.kra.kim.bo.KimQualifiedRolePerson</class>
    <class>org.kuali.kra.kim.bo.KimQualifiedRoleGroup</class>
    <class>org.kuali.kra.kim.bo.KimGroupPerson</class>
    <class>org.kuali.kra.kim.bo.KimGroupGroup</class>
    <class>org.kuali.kra.bo.UnitAclEntry</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalRoleTemplate</class>
    <class>org.kuali.kra.bo.CustomAttribute</class>
    <class>org.kuali.kra.bo.CustomAttributeDataType</class>
    <class>org.kuali.kra.bo.CustomAttributeDocument</class>
    <class>org.kuali.kra.bo.CustomAttributeDocValue</class>
    <class>org.kuali.kra.bo.OrganizationTypeList</class>
    <class>org.kuali.kra.bo.OrganizationIndirectcost</class>
    <class>org.kuali.kra.bo.OrganizationAudit</class>
    <class>org.kuali.kra.bo.OrganizationYnq</class>
    <class>org.kuali.kra.bo.OrganizationType</class>
    <class>org.kuali.kra.bo.ExemptionType</class>
    <class>org.kuali.kra.proposaldevelopment.bo.ProposalExemptNumber</class>
    <class>org.kuali.kra.s2s.bo.S2sSubmissionHistory</class>
    <class>org.kuali.kra.bo.SponsorForms</class>
    <class>org.kuali.kra.bo.SponsorFormTemplate</class>
    <class>org.kuali.kra.bo.SponsorFormTemplateList</class>
    <class>org.kuali.kra.bo.Parameter</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
  </persistence-unit>

</persistence>
