<config>
	<!-- KC Client DB -->
	<param name="datasource.url">jdbc:oracle:thin:@127.0.0.1:1521:KCBND</param>
	<param name="datasource.username">KCBND</param>
	<param name="datasource.password">bndpass</param>
	<param name="datasource.ojb.platform">Oracle9i</param>
	
	<!-- Logging print Configuration -->
	<param name="print.logging.directory">log directory path</param>
	<param name="print.logging.enable">"true" to enable logging</param>

	<!-- Save Xml Configuration -->
	<param name="print.xml.directory">${java.io.tmpdir}/printing</param>
	
	<!--
	<param name="datasource.url">jdbc:mysql://localhost:3306/KCBND</param>
	<param name="datasource.username">KCBND</param>
	<param name="datasource.password">bndpass</param>
	<param name="datasource.ojb.platform">MySQL</param>
	<param name="datasource.pool.class">com.mysql.jdbc.jdbc2.optional.MysqlXADataSource</param>
	-->
</config>
