<config>
	<!-- KC Client DB -->
	<param name="datasource.url">jdbc:oracle:thin:@127.0.0.1:XE</param>
	<param name="datasource.username">KCUNIT</param>
	<param name="datasource.password">untpass</param>
	<param name="datasource.ojb.platform">Oracle9i</param>
	
	<!--
	<param name="datasource.url">jdbc:mysql://localhost:3306/KCUNIT</param>
	<param name="datasource.username">KCUNIT</param>
	<param name="datasource.password">untpass</param>
	<param name="datasource.ojb.platform">MySQL</param>
	<param name="server.datasource.pool.class">com.mysql.jdbc.jdbc2.optional.MysqlXADataSource</param>
	-->

    <param name="keystore.file">${user.home}/kuali/test/${environment}/rice_embedded/rice.keystore</param>
    <param name="keystore.alias">rice</param>
    <param name="keystore.password">r1c3pw</param>
</config>
