/*
 * Kuali Coeus, a comprehensive research administration system for higher education.
 * 
 * Copyright 2005-2016 Kuali, Inc.
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.kc-personnel-table .dataTables_filter, .kc-personnel-table .dataTables_length {
    display: none;
}

.kc-personnel-table th, .kc-personnel-table td, .kc-personnel-table table {
    border: none !important;
}

.kc-personnel-table tr {
    border-bottom: 1px solid #DDDDDD;
}

.kc-personnel-table tfoot {
    display: none;
}

.kc-personnel-table th {
    background-color: white !important;
    color: black !important;
}

.kc-personnel-table .uif-verticalRadioFieldset > span {
    margin: 0;
}

.credit-allocation .investigator {
    font-weight: bold;
}

.credit-allocation .unit {
    color: #999999;
}

.credit-allocation .investigator-total {
    font-weight: bold;
}

.credit-allocation .unit-total {
    font-weight: bold
}
