<!DOCTYPE catalog
        PUBLIC "-//OASIS//DTD Entity Resolution XML Catalog V1.0//EN"
        "http://www.oasis-open.org/committees/entity/release/1.0/catalog.dtd">
<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog"
         prefer="public">
		
		<group prefer="public">
	        <public publicId="http://apply.grants.gov/forms/Attachments-V1.0" uri="Attachments-V1.0.xsd"/>
	    </group>

		<group prefer="public">
	        <public publicId="http://apply.grants.gov/system/Global-V1.0" uri="Global-V1.0.xsd"/>
	    </group>
		
		<group prefer="public">
	        <public publicId="http://apply.grants.gov/system/GlobalLibrary-V1.0" uri="GlobalLibrary-V1.0.xsd"/>
	    </group>

        <group prefer="public">
            <public publicId="http://apply.grants.gov/system/GlobalLibrary-V2.0" uri="GlobalLibrary-V2.0.xsd"/>
        </group>

        <group prefer="public">
            <public publicId="http://apply.grants.gov/forms/RR_Budget-V1.0" uri="RR_Budget-V1.0.xsd"/>
        </group>
		
		<group prefer="public">
	        <public publicId="http://apply.grants.gov/system/UniversalCodes-V1.0" uri="UniversalCodes-V1.0.xsd"/>
	    </group>
		
</catalog>
