/*
 * Kuali Coeus, a comprehensive research administration system for higher education.
 * 
 * Copyright 2005-2015 The Kuali Foundation
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
<style type="text/css">
	p	{ margin-top: 0; margin-bottom: 0; }
	div p	{ margin-top: 0; margin-bottom: 0; }
	body.D2HContents { margin: 2pï¿½; 
	                   background-color: #474747; 
	                   overflow:hidden; }
	div.D2HContents	
	 { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; background-color: #EBEBEB; 
		background-image: url();
		background-repeat: no-repeat;  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: WindowText; 
		height:100%; width:100%; overflow:auto; }
	table.D2HContents { margin: 2px 4px 4px 4px; }
		
	img	{ cursor: pointer; }
	span
	{ 
<!--#if(%DynamicToc%)-->
	cursor: pointer;
<!--#endif-->	
	  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: WindowText;
	}
    a {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Blue; }
    .clsMouseOver {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Red; }
    .clsCurrentTocItem {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Purple; }
	.toc	{ margin-left: 20px;}
	.topic	{}
	.caption	{ font-weight: bold; margin-bottom: 6pt; white-space:nowrap; }
	.back	{ margin-top: 12px; text-align: right; }
    form.clsFrmHidden { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; height:0px; display: none; visibility: hidden;}
    div.clsTocNavPanel { margin: 0px 4px 0px 0px; text-align: right; }
</style>
